{% extends "base.html" %}

{% block title %}Головна{% endblock %}
{% block content %}

<div class="gallery-grid">
    <div class="gallery-item">
        <a href="/products?tag=pc" class="text-decoration-none">
            <div class="grid-iteminner">
                <img src="https://media.discordapp.net/attachments/1282590520652337215/1295696497739956285/10-420x420.png?ex=67f8f065&is=67f79ee5&hm=f62a216889227f4ad4e9696e5363597e57ee20d5646960692be1303d76f26b81&=&format=webp&quality=lossless&width=525&height=525" class="grid-itemimg" alt="Персональні компе'ютери">
                <div class="grid-itemtitle">
                    <span>Персональні компе'ютери</span>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item">
        <a href="/products?tag=tv" class="text-decoration-none">
            <div class="grid-iteminner">
                <img src="https://media.discordapp.net/attachments/1282590520652337215/1295702554424119330/84ac056b57dd032fcf18a346d4a81feb-xl.png?ex=67f8f609&is=67f7a489&hm=1c2332dcd1d2fac5f82ad0633b35cfacd11eb428fe8327cb0daa223bf1b5ee04&=&format=webp&quality=lossless&width=1240&height=881" class="grid-itemimg" alt="TV+відеотехніка">
                <div class="grid-itemtitle">
                    <span>TV+відеотехніка</span>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item">
        <a href="/products?tag=monitor" class="text-decoration-none">
            <div class="grid-iteminner">
                <img src="https://media.discordapp.net/attachments/1282590520652337215/1295697589576011836/Lenovo20E29w-20.png?ex=67f8f16a&is=67f79fea&hm=1342d025d0072d00759303eaafadf8b3d409e2007fea4381db1a866b8d2e279d&=&format=webp&quality=lossless&width=1440&height=810" class="grid-itemimg" alt="Монітори">
                <div class="grid-itemtitle">
                    <span>Монітори</span>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item">
        <a href="/products?tag=keyboard" class="text-decoration-none">
            <div class="grid-iteminner">
                <img src="https://media.discordapp.net/attachments/1282590520652337215/1295697589576011836/Lenovo20E29w-20.png?ex=67f8f16a&is=67f79fea&hm=1342d025d0072d00759303eaafadf8b3d409e2007fea4381db1a866b8d2e279d&=&format=webp&quality=lossless&width=1440&height=810" class="grid-itemimg" alt="Клавіатури">
                <div class="grid-itemtitle">
                    <span>Клавіатури</span>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item">
        <a href="/products?tag=mouse" class="text-decoration-none">
            <div class="grid-iteminner">
                <img src="https://media.discordapp.net/attachments/1282590520652337215/1295689286871547946/image.png?ex=67f8e9ae&is=67f7982e&hm=4305f247c27aa166d92f588578687bd9cee96ad05661f7f6785b49b68c17ae8b&=&format=webp&quality=lossless&width=755&height=940" class="grid-itemimg" alt="Мишки">
                <div class="grid-itemtitle">
                    <span>Мишки</span>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item">
        <a href="/prducts?tag=audio" class="text-decoration-none">
            <div class="grid-iteminner">
                <img src="https://media.discordapp.net/attachments/1282590520652337215/1295707335993327617/maquette-smartphone-ecran-blanc-fond-haut-parleurs-musique-eclairage-au-neon-clones-musique-maquette-smartphone-ecran-blanc-pour-conception-votre-application-rendu-3d_120871-408.png?ex=67f8fa7d&is=67f7a8fd&hm=9365d4a163e6084fa14d14b4d93847b08028f9e3a04f743c2aa2d192992bb42c&=&format=webp&quality=lossless&width=783&height=521" class="grid-itemimg" alt="Аудіо-техніка">
                <div class="grid-itemtitle">
                    <span>Аудіо-техніка</span>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery-item">
        <a href="/products?tag=garniture" class="text-decoration-none">
            <div class="grid-iteminner">
                <img src="https://media.discordapp.net/attachments/1282590520652337215/1295690240849350676/Gear-Rant-Game-Family-Plans-1334436001.png?ex=67f8ea92&is=67f79912&hm=217a91cb53e04a7029f963c8e14f0f00c1f61346e8ac3e43f33937ddfb17f377&=&format=webp&quality=lossless&width=1240&height=930" class="grid-itemimg" alt="Гарнітура">
                <div class="grid-itemtitle">
                    <span>Гарнітура</span>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}